.sign-up {
  width: 30vw;
  display: block;
  flex-direction: column;
  padding-left: 5vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.have-account-text {
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
