.sign-in {
  width: 30vw;
  display: block;
  flex-direction: column;
  padding-left: 5vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.title {
    margin: 10px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
