body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.webshopper-content.inactive {
  animation: fadeout 100ms 1;
  opacity: 0.2;
  pointer-events: none;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
