.active {
  display: block;
  opacity: 1;
  animation: fadein 500ms 1;
  transform: translate(25vw, 2vw);
  background-color: white;
  width: 50%;
  z-index: 100;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 0px 10px black;
}

.inactive {
  animation: fadeout 800ms 1;
  display: none;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.close {
  position: absolute;
  right: 24px;
  top: 14px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
